@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html, body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
  font-size:93%;
  margin: 0;
}

.scene-detection {
  text-align: center;
  margin: 0px;
  position: relative;
}

h1 {
  margin: 1px;
  font-size: 24px;
  color: #333;
  padding: 10px;
  text-align: left;
}

h2 {
  font-size: 1.4rem;
  color: #555;
  margin: 10px 0;
  font-weight: 500;
}

.loading {
  font-size: 20px;
}

.dropdown-container {
  position: absolute;
  transition: all 0.3s ease;
}

.dropdown-container.center {
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropdown-container.top-right {
  top: 10px;
  right: 10px;
  transform: translate(0, 0);
}

.main_body_content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 90vh;
}

.video_and_scene_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.sceneList {
  padding: 10px;
  overflow: auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: #ffffff;
  /* border-radius: 8px; */
  width: 20%;
}
.scene_info_container {
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* border-radius: 8px; */
}
.video_container {
  flex: 1;
  text-align: center;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* border-radius: 8px; */
  align-items: center;
  justify-content: center;
  /* Optional: Hide overflowing content */
  overflow: hidden;
}

