.scene_list {
    box-sizing: border-box;
    overflow-y: auto;
}

.scene_item {
    padding: 10px;
    /* display: flex;
    flex-direction: column; */
    line-height: 1.6;
    height: 80px;
    overflow: hidden;
    border-radius: 4px;
    margin: 0;
    margin: 8px 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    scroll-behavior: smooth;
    transition: height 0.3s ease-in-out;
    /* Smooth transition on hover */
}

.scene_item:hover {
    height: 120px;
    /* Expanded height on hover */
}

.scene_item *{
    margin: 0;
    padding: 0;
}
.active {
    background-color: #e3f2fd;
    border-left: 3px solid #007bff;
    box-shadow: 4px 4px 12px rgba(0, 123, 255, 0.4);
    



    height: 120px;
    white-space: wrap;
    text-overflow: ellipsis;
}
.active > p:last-child {
    height: 55%;
    white-space: wrap;
    text-overflow: ellipsis;
}

.scene_item span{
    font-weight: 550;
}

.scene_item>p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: width 0.3s ease;
}

.scene_item:hover > p:last-child {
    height: 55%;
    white-space: wrap;
    text-overflow: ellipsis;
}

h4 {
    margin: 0;
    font-weight: 550;
}