.seek-bar{
    display: flex;
    flex-direction: row;
    margin: 5px 1px;
}
.seek-bar-segment{
    box-sizing: border-box;
    height: 10px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
}

.active{
    background-color: rgba(0, 123, 255, 0.4);
}

.seek-bar-segment:hover{
    background-color: #bbbbbb;
    cursor: pointer;
}
