.custom-select{
    position: relative;
    margin-bottom: 15px;
    padding: 8px 12px;
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .custom-select:focus,
  .custom-select:hover{
      outline: none;
      border: 1px solid #bbbbbb;
  }
  
  .custom-select option{
      background: #ffffff;
      font-family: "Montserrat", sans-serif;
  }
  