.video_player_container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden; /* Hide overflow to ensure video stays within bounds */
}

.video_player {
   width: auto;
   max-height: 100%;
   max-width: 100%;
   object-fit: contain; /* Ensures the video scales to fit the container, maintaining aspect ratio */
}
